<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ inventory_hostname }} | Ansible Web Server</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background: #0f172a;
            color: #f8fafc;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 80px auto;
            padding: 40px;
            background: #1e293b;
            border-radius: 12px;
        }

        h1 { 
            color: #38bdf8;
        }

        .status {
            display: inline-block;
            padding: 8px 16px;
            background: #166534;
            border-radius: 20px;
        }

        .info {
            margin-top: 30px;
            line-height: 1.8;
        }

        code {
            color: #7dd3fc;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="status"> Nginx is running</div>
        <h1>Ansible Managed Web Server</h1>
        <p>
           This website was deployed automatically using Ansible.
        </p>

        <div class="info">
            <p><strong>Inventory:</strong> {{ inventory_hostname }}</p>
            <p><strong>Hostname:</strong> {{ ansible_hostname }}</p>
            <p>
                <strong>Operating system:</strong>
                {{ ansible_distribution }}
                {{ ansible_distribution }}
            </p>
            <p><strong>Kernel:</strong> {{ ansible_kernel }}</p>
            <p>
                <strong>IP address:<strong>
                {{ ansible_default_ipv4.address | default('N/A') }}
            </p>
            <p><strong>Managed by:</strong> Ansible role <code>webserver</code></p>
        </div>
    </div>
</body>
</html>
