server {
    listen {{ webserver_port }} default_server;
    listen [::]:{{ webserver_port }} default_server;

    server_name {{ webserver_server_name }};

    root {{ webserver_document_root }};
    index index.html;

    access_log /var/log/nginx/{{ webserver_site_name }}_access.log;
    error_log /var/log/nginx/{{ webserver_site_name }}_error.log;

    location / {
        try_files $uri $uri/ =404;
    }

    location = /heath {
        access_log off;
        default_type text/plain;
        return 200 "healthy\n";
    }
}
